*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --Staatliches: 'Staatliches', cursive;
    --Josefin: 'Josefin Sans', sans-serif;
    --Sacramento: 'Sacramento', cursive;
    --Gradient: to left, hsl(175, 98%, 66%), hsl(175, 87%, 57%);
    --Very-Dark-Cyan: rgb(0, 46, 58);
    --Red-Hat-Display: 'Red Hat Display', sans-serif;
}

.header{
    position: absolute;
    top: 0;
    width: 100%;
    background-image: url(../img/Subtle-Prism.svg);
    background-position: left;
    font-family: var(--Staatliches);
    height: 100vh;
    overflow: hidden;
}

.name-logo{
    font-family: var(--Sacramento);
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
    color: rgb(0, 81, 95);
    
}

.nav-bar{
    position: fixed;
    width: 100%;
    background:linear-gradient(to left, hsl(165, 85%, 61%), hsl(175, 85%, 62%));
    transform: translateX(100%);
    transition: all .4s ease;
    z-index: 100;
}

.hamburger{
    display: block;
    position: fixed;
    max-width: 25px;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    z-index: 110;
}

.list{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    list-style: none;
    position: relative;
    height: 100vh;
    padding-top: 120px;
    padding-right: 50px;
}

.list-item{
    margin-top: 5px;
}

.list-item a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding-top: 30px;
}

.list-item a:hover{
    color: rgb(6, 184, 145);
}

.profile-icon{
    display: block;
    max-width: 70px;
    margin-top: 15px;
    border: 3px solid white;
    border-radius: 50px;
    margin-right: 40px;
}

.social-media{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 80px;
}

.social-media a{
    color: white;
    font-size: 25px;
}

.social-media a:hover{
    color: rgb(6, 184, 145);
}

 .active{
    transform: translateX(0);
}

.name-container{
    display: flex;
    align-items: center;
    position: absolute;
    border: 3px solid rgb(0, 81, 95);
    width: 80%;
    margin-top: 150px;
    margin-left: 35px;
    margin-right: auto;
    
}

.name{
    font-size: 42px;
    margin: 0;
    letter-spacing: 6px;
    padding: 30px;
    color: rgb(0, 46, 58);
}

.main{
    font-family: var(--Josefin);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.title{
    color: var(--Very-Dark-Cyan);
    font-size: 32px;
    letter-spacing: 2px;
}

.section-container{
    text-align: center;
    margin-top: 90px;
}

.section-container:first-child{
    margin-top: 880px;
}

.section-container .title{
    text-align: center;
}

.window-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    font-family: var(--Red-Hat-Display);
    z-index: 100;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    transform: translateY(-100%);
    transition: all .5s ease;
    overflow: scroll;
}

.active-w{
    transform: translateY(0);
}

.card-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    overflow: scroll;
}

.img-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card-icon{
    max-width: 80px;
    border-radius: 50px;
    margin-top: 20px;
    border: 2px solid rgb(0, 81, 95);
}

.me{
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}

.me h3{
    color: rgba(0, 0, 0, .6);
    margin-top: 3px;
}

.sobre-mi{
    padding: 20px;
    margin-top: 15px;
}

.sobre-mi h2{
    font-size: 19px;
}

.text-card{
    padding-right: 15px;
    margin-top: 30px;
}

.tecnologias-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    margin-top: 30px;
    justify-items: center;
}

.tecnologias-title{
    margin-top: 20px;
}

.tecnologia-icon{
    display: block;
    max-width: 90px;
}

.tecnologia-icon:nth-child(2){
    max-width: 80px;
}

.tecnologia{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    box-shadow: rgb(209, 208, 208) 2px 2px 15px,
                  rgb(209, 208, 208) -2px -2px 15px;
    border-radius: 15px;
}

.title-tecnologia{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 28px;
    letter-spacing: 1px;
    color: rgb(51, 51, 92);
    position: relative;
}

.logo-icon{
    display: block;
    max-width: 150px;
    margin-top: 50px;
}

.title-tecnologia::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    z-index: -1;
    opacity: 0.7;
}

.tecnologia-orange::before{
    background-color: orangered;
}

.tecnologia-light-blue::before{
    background-color: rgb(81, 188, 255);
}

.tecnologia-yellow::before{
    background-color: rgb(218, 218, 0);
}

.proyecto{
    margin-top: 60px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgb(209, 208, 208) 2px 2px 15px,
                  rgb(209, 208, 208) -2px -2px 15px;
    padding-bottom: 20px;
}

.info-proyecto{
    margin-top: 15px;
    text-align: center;
}

.page-img{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.page-desk{
    display: none;
}

.nombre-proyecto{
    text-align: initial;
    font-size: 20px;
    margin-left: 10px;
    color: var(--Very-Dark-Cyan);
    text-decoration: var(--Very-Dark-Cyan) solid underline;
}

.tecnologias{
    text-align: initial;
    font-family: var(--Staatliches);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.tecnologias .title-tecnologia{
    font-size: 16px;
    margin-left: 10px;
}

.tecnologias .title-tecnologia::before{
    height: 7px;
}

.section-container:nth-child(2){
    text-align: initial;
}

.link-page{
    margin-bottom: 25px;
    text-decoration: none;
    color: rgb(0, 38, 87);
    position: relative;
    font-weight: 900;
}

.link-page::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 7px;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    z-index: -1;
    opacity: 0.7;
}

.page-before::before{
    background-color: rgb(14, 61, 216);
}

.contact .title{
    color: rgb(0, 131, 118);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgb(209, 208, 208) 2px 2px 15px,
                  rgb(209, 208, 208) -2px -2px 15px;
    position: relative;
    top: 15px;
    z-index: 10;
    background-color: white;              
}

.form{
    text-align: initial;
    padding: 15px;
    box-shadow: rgb(209, 208, 208) 2px 2px 15px,
    rgb(209, 208, 208) -2px -2px 15px;
}

.inputs{
    margin-top: 25px;
}

input{
    font-family: var(--Staatliches);
    margin-top: 15px;
    padding: 10px;
    width: 90%;
    outline: none;
    border: 2px solid rgb(0, 36, 32);
}

::placeholder{
    color: rgb(0, 38, 87);
    letter-spacing: 2px;
    text-transform: uppercase;
}

textarea{
    margin-top: 15px;
    width: 90%;
    max-width: 90%;
    border: 2px solid rgb(0, 36, 32);
    outline: none;
}

.enviar{
    width: 100%;
    font-size: 18px;
}

.enviar:hover{
    background-color: rgb(0, 46, 58);
    color: white;
    cursor: pointer;
    transition: .4s;
}

.enviar::placeholder{
    font-size: 28px;
}

.footer{
    font-family: var(--Sacramento);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    background-color: rgb(0, 36, 32);
    height: 150px;
}

.footer h1{
    color: white;
    font-weight: 200;
}

.footer .social-media{
    position: static;
}

.footer .social-media .fab{
    margin: 30px 20px;
    margin-left: 20px;
    margin-right: 20px;
}

