*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--Space-Mono);
}

:root{
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very--dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan-1: hsl(186, 14%, 43%);
    --Dark-grayish-cyan-2: hsl(184, 14%, 56%);
    --Light-grayish-cyan-1: hsl(185, 41%, 84%);
    --Light-grayish-cyan-2: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
    --Space-Mono: 'Space Mono', monospace;    
}

body{
    background-color: var(--Light-grayish-cyan-1);
    max-height: 100vh;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 45px;
}

.main-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px;
    border-radius: 20px;
}

.bill-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: none;
    width: 100%;
    background-color: var(--Light-grayish-cyan-2);
    height: 45px;
    padding: 0 15px;
    border-radius: 5px;
    text-align: right;
    color: var(--Very--dark-cyan);
    font-weight: 700;
    font-size: 25px;
}

.bill-container::placeholder{
    color: var(--Very--dark-cyan);
    font-weight: 700;
    font-size: 25px;
}

.bill{
    font-weight: 700;
    font-size: 20px;
}

.dolar{
    position: absolute;
    margin-top: -30px;
    margin-left: 15px;
}

.select-tip-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 13px;
}

.tip{
    grid-column-start: 1;
    grid-column-end: 3;
}

.tip-option{
    background-color: var(--Very--dark-cyan);
    width: 95%;
    height: 45px;
    padding-top: 7px;
    text-align: center;
    padding-bottom: 10px;
    border-radius: 5px;
    color: var(--Light-grayish-cyan-2);
    font-size: 20px;
    font-weight: 700;
}

.tip-option:nth-child(7){
    background-color: var(--Light-grayish-cyan-2);
    color: var(--Dark-grayish-cyan-1);
    border: none;
    outline: 2px solid var(--Strong-cyan);
    color: var(--Very--dark-cyan);
    
}

.number-people{
    padding-top: 30px;
    padding-bottom: 10px;
}

.number-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 15px;
    background-color: var(--Light-grayish-cyan-2);
}

.people{
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    text-align: right;
    outline: none;
    border: none;
    color: var(--Very--dark-cyan);
    font-weight: 700;
    font-size: 25px;
}

.people::placeholder{
    color: var(--Very--dark-cyan);
    font-weight: 700;
    font-size: 25px;
}

.person{
    position: absolute;
}

.dark-grayish-cyan{
    color: var(--Dark-grayish-cyan-1);
}

.result-container{
    background-color: var(--Very--dark-cyan);
    padding-top: 30px;
    border-radius: 15px;
    margin-top: 30px;
}

.container-total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
}

.total-amount{
    color: var(--Strong-cyan);
    font-size: 30px;
    font-weight: 700;
}

.total{
    color: white;
    font-weight: 700;
    font-size: 14px;
}

.reset{
    display: block;
    background-color: var(--Strong-cyan);
    text-align: center;
    width: 90%;
    margin: 20px auto;
    padding: 12px;
    font-size: 20px;
    font-weight: 700;
    color: var(--Very--dark-cyan);
    text-transform: uppercase;
    border-radius: 5px;
}

.text{
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 4px;
}

.very-dark-cyan{
    color: var(--Very--dark-cyan);
}

.input-active{
    box-shadow: 0 0 0 0.1em var(--Strong-cyan);
}

.tip-active{
    background-color: var(--Strong-cyan);
    color: var(--Very--dark-cyan);
}

.btn--ghost {
    cursor: default;
    opacity: 0.4;
  }
  .btn--ghost:hover, .btn--ghost:focus {
    mix-blend-mode: color-dodge;
  }

