*{
    box-sizing: border-box;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
    --Alata: 'Alata', sans-serif;
    --Josefin: 'Josefin Sans', sans-serif;
}

body{
    margin: 0;
}

@media (min-width: 934px){
    .main{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.header{
    background-image: url('../img/mobile/image-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: var(--Josefin);
}

.logo{
    display: block;
    max-width: 130px;
    margin: 0 22px;
    padding-top: 35px;
}

.hamburger{
    position: absolute;
    right: 0;
    top: 38px;
    margin-right: 30px;
}

.header-list{
    display: none;
}

.title-container{
    border: 1px solid white;
    width: 310px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 120px;

}

.title{
    color: white;
    font-weight: 300;
    font-size: 40px;
    margin: 0;
}

@media (min-width: 934px){
    .header{
        background-image: url(../img/desktop/image-hero.jpg);
        height: 700px;
        background-position: top;
    }

    .logo{
        max-width: 200px;
        margin: 0 144px;
    }

    .hamburger{
        display: none;
    }

    .header-list{
        display: flex;
        list-style: none;
        position: absolute;
        right: 0;
        top: 30px;
        margin-right: 140px;
    }

    .item-list{
        margin-right: 30px;
        font-size: 19px;
        font-weight: 700;
    }

    .item-list a{
        color: white;
        text-decoration: none;
    }
    
    .title-container{
        width: 500px;
        height: 220px;
        border: 2px solid white;
        margin: 180px 144px;
        padding: 30px;
    }

    .title{
        font-size: 3.5rem;
    }
}

.interactive-vr{
    margin-top: 80px;
}

.vr-image{
    display: block;
    width: 85%;
    margin: auto;
}

.title-text{
    font-family: var(--Josefin);
    font-weight: 300;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}

.title-text .title{
    color: var(--Black);
    font-size: 32px;
}

.title-text .text{
    color: var(--Black);
    padding-left: 5px;
    padding-right: 5px;
    line-height: 23px;
}

@media (min-width: 934px){

    .interactive-vr{
        display: flex;
        width: 80%;
        background-image: url(../img/desktop/image-interactive.jpg);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position-x: 220px;
        margin-left: auto;
        margin-right: auto;
    }

    .vr-image{
        display: none;
    }

    .title-text{
        width: 25vw;
        height: 400px;
        background-color: white;
        padding: 53px 60px;
        text-align: initial;
        position: relative;
        top: 120px;
        margin-right: 210px;
    }

    .title-text .title{
        font-size: 2.8rem;
        margin-top: 40px;
    }
}

.our-creations{
    font-family: var(--Josefin);
    width: 90%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.our-creations .title{
    color: var(--Black);
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
}

.creations{
    background-size: cover;
    background-repeat: no-repeat;
    height: 110px;
    margin-top: 25px;
}

.creation{
    display: inline-block;
    color: white;
    font-size: 22px;
    padding: 50px 10px 20px;
}

.earth{
    background-image: url('../img/mobile/image-deep-earth.jpg');
}

.arcade{
    background-image: url('../img/mobile/image-night-arcade.jpg');
}

.soccer{
    background-image: url('../img/mobile/image-soccer-team.jpg');
}

.grid{
    background-image: url('../img/mobile/image-grid.jpg');
}

.above-vr{
    background-image: url('../img/mobile/image-from-above.jpg');
}

.borealis{
    background-image: url('../img/mobile/image-pocket-borealis.jpg');
}

.curiosity{
    background-image: url('../img/mobile/image-curiosity.jpg');
}

.fisheye{
    background-image: url('../img/mobile/image-fisheye.jpg');
}

.see-all{
    display: block;
    font-family: var(--Alata);
    text-align: center;
    border: 1px solid black;
    font-weight: 300;
    color: var(--Black);
    padding: 10px 10px;
    text-decoration: none;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    letter-spacing: 3px;
}

@media (min-width: 934px){
    .our-creations{
        margin-top: 140px;
    }

    .our-creations .title{
        width: 85%;
        text-align: initial;
        margin-left: auto;
        margin-right: auto;
    }

    .creation-container{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: .1fr .1fr .1fr .1fr;
        width: 56vw;
        margin-left: 100px;
    }

    .creations{
        background-size: cover;
        background-repeat: no-repeat;
        height: 380px;
        width: 13vw;
        margin-top: 25px;
    }

    .creation{
        padding: 310px 25px;
    }

    .earth{
        background-image: url('../img/desktop/image-deep-earth.jpg');
    }
    
    .arcade{
        background-image: url('../img/desktop/image-night-arcade.jpg');
    }
    
    .soccer{
        background-image: url('../img/desktop/image-soccer-team.jpg');
    }
    
    .grid{
        background-image: url('../img/desktop/image-grid.jpg');
    }
    
    .above-vr{
        background-image: url('../img/desktop/image-from-above.jpg');
    }
    
    .borealis{
        background-image: url('../img/desktop/image-pocket-borealis.jpg');
    }
    
    .curiosity{
        background-image: url('../img/desktop/image-curiosity.jpg');
    }
    
    .fisheye{
        background-image: url('../img/desktop/image-fisheye.jpg');
    }

}

.footer{
    font-family: var(--Alata);
    background-color: var(--Black);
    margin-top: 80px;
    height: 480px;
}

.logo-footer{
    display: block;
    max-width: 130px;
    padding-top: 40px;
    margin-right: auto;
    margin-left: auto;
}

.list-container{
    text-align: center;
    padding: 0;
    margin-top: 40px;
}

.element-list{
    margin-top: 20px;
}

.element-list a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.social-media{
    display: flex;
    justify-content: center;
    margin-top: 50px;    
}

.icon{
    display: block;
    margin-left: 8px;
    margin-right: 8px;
    width: 25px;
}

.copyright{
    display: block;
    color: var(--Dark-Gray);
    text-align: center;
    font-size: 14px;
    padding: 20px 0;
}

@media (min-width: 934px){
    .footer{
        height: 200px;
        display: flex;
        overflow: hidden;
    }

    .logo-footer{
        margin-left: 175px;
    }

    .list-container{
        display: flex;
        margin-left: 144px;
        list-style: none;
        margin-top: 20px;
    }

    .element-list{
        margin-left: 30px;
    }

    .box-2{
        margin-left: auto;
        width: 25vw;
    }

    .copyright{
        padding: 30px 0;
        margin-right: 110px;
        white-space: nowrap;
    }
}