:root{
    --Heebo-family: 'Heebo', sans-serif;
    --Oswald-family: 'Oswald', sans-serif;
    --Roboto-Condense-family: 'Roboto Condensed', sans-serif;
    --Dark-purple: rgb(194, 0, 197);
    --Very-light-violet: rgb(255, 234, 255);
    --Dark-grayish-blue: rgb(82, 83, 102);
    --Dark-purple-2: rgb(109, 9, 110);
}

main{
    overflow: hidden;
}

.whatsapp-icon{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px 10px;
    width: 50px;
}

.slider-container{
    width: 100%;
    overflow: hidden;
}

.slider-images{
    width: 200%;
    position: relative;
    left: 0;
    transition: all .5s;
    margin-top: 80px;
}

.first-info{
    margin: 100px 0px;
}

.first-info .sub-title{
    font-size: 32px;
}



.info-container{
    text-align: center;
    padding: 0px 20px;
    margin-left: auto;
    margin-right: auto;
}

.info-container:last-child{
    margin-bottom: 150px;
}

.sub-title{
    font-family: var(--Roboto-Condense-family);
    color: var(--Dark-purple-2);
}

.text{
    font-family: var(--Heebo-family);
    color: var(--Dark-grayish-blue);
}

.left{
    text-align: left;
}

.link{
    display: block;
    width: 35%;
    padding: 8px 0px;
    text-decoration: none;
    font-size: 20px;
    background-color: var(--Dark-purple);
    font-family: var(--Oswald-family);
    color: var(--Very-light-violet);
    text-align: center;
    margin: 40px 0px;
}




