:root{
    --Heebo-family: 'Heebo', sans-serif;
    --Oswald-family: 'Oswald', sans-serif;
    --Dark-purple: rgb(231, 0, 235);
    --Very-light-violet: rgb(255, 200, 255);
    --Dark-grayish-blue: rgb(82, 83, 102);
    --Dark-purple-2: rgb(109, 9, 110);
}

.header{
    width: 100%;
    height: 80px;
    background-color: var(--Dark-purple);
    font-family: var(--Oswald-family);
    overflow: hidden;
    position: fixed;
    z-index: 40;
}

.logo{
    display: block;
    width: 40%;
}

.title{
    text-align: center;
    font-size: 42px;
    margin-top:10px;
    margin-bottom: 0;
    height: 70px;
    color: var(--Very-light-violet);
}

.title-header{
    position: relative;
    z-index: 100;
}

.sub-title-lba{
    display: block;
    font-size: 10px;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

.hamburger{
    color: var(--Very-light-violet);
    position: absolute;
    right: 0;
    top: 25px;
    margin-right: 20px;
    font-size: 32px;
}

.nav-bar{
    position: fixed;
    z-index: 1;
    height: 400px;
    background: linear-gradient(to bottom ,rgb(85, 1, 87), rgb(119, 31, 121));
    width: 100%;
    padding: 0;
    margin-top: 0;
    overflow: hidden;
    transform: translateY(-100%);
    transition: .8s ease;
    top: 50px;
}

.list{
    list-style: none;
    padding: 0;
}

.active{
    transform: translateY(0);
}

.list-item{
    display: block;
    text-decoration: none;
    color: var(--Very-light-violet);
    padding: 15px 0px;
    font-size: 25px;
    text-align: center;
}

.options{
    margin-top: 80px;
}

.whatsapp-icon{
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px 10px;
    width: 50px;
}

.slider-container{
    width: 100%;
    overflow: hidden;
}

.slider-images{
    width: 200%;
    position: relative;
    left: 0;
    transition: all .5s;
    margin-top: 80px;
}

.first-info{
    margin: 100px 0px;
}

.first-info .sub-title{
    font-size: 32px;
}



.info-container{
    text-align: center;
    padding: 0px 20px;
    margin-left: auto;
    margin-right: auto;
}

.info-container:last-child{
    margin-bottom: 150px;
}

.sub-title{
    font-family: var(--Oswald-family);
    color: var(--Dark-purple-2);
}

.text{
    font-family: var(--Heebo-family);
    color: var(--Dark-grayish-blue);
}

.left{
    text-align: left;
}

.link{
    display: block;
    width: 35%;
    padding: 8px 0px;
    text-decoration: none;
    font-size: 20px;
    background-color: var(--Dark-purple);
    font-family: var(--Oswald-family);
    color: var(--Very-light-violet);
    text-align: center;
    margin: 40px 0px;
}

.footer{
    background-color: var(--Dark-purple);
}

.footer .title{
    padding-top: 30px;
    font-family: var(--Oswald-family);
}

.footer-list{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
    font-family: var(--Heebo-family);
}

.list-item-footer{
    display: block;
    text-decoration: none;
    color: var(--Very-light-violet);
    padding: 10px 0px;
    font-size: 20px;
}

.social-media-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.social-icon{
    display: block;
    font-size: 30px;
    padding-left: 12px;
    padding-right: 12px;
}

.social-media-container a{
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 20px;
    color: var(--Very-light-violet);
}



