@media (min-width: 1004px){
    body{
        margin-left: auto;
        margin-right: auto;
        width: 1440px;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-bottom{
        align-items: center;
    }

    .header-bottom:hover span{
        transition: .4s;
        color: white;
    }

    .toggle-container{
        cursor: pointer;
    }

    .theme{
        margin-right: 20px;
    }
    .section-container:first-child{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 40px;
    }

    .card-followers{
        width: 320px;
        height: 250px;
        margin-left: 0;
        margin-right: 0;
        cursor: pointer;
    }

    .card-followers:hover{
        background-color: hsl(228, 28%, 30%);
        transition: .4s;
    }

    .number-followers{
         font-size: 4rem;
    }

    .media-today{
        margin-top: 13px;
    }

    .today{
        font-size: .8rem;
    }

    .section-container:nth-child(2){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 40px;
    }

    .section-container:nth-child(2) .title{
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .card-info{
        margin: 0;
        cursor: pointer;
        transition: .4s;
    }

    .card-info:hover{
        background-color: hsl(228, 28%, 30%);
    }

    .active-1 .toggle-container:hover{
        background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
        transition: .5s;
    }

    .active-1 .header-bottom:hover span{
        color: hsl(228, 34%, 66%);
    }

    .active-1 .card-followers:hover,
    .active-1 .card-info:hover{
        background-color: hsla(228, 34%, 66%, .1) ;
    }
}