@media (min-width: 1204px){
    .header{
        padding: 50px;
    }
    .logo{
        width: 100px;
        max-width: 100px;
    }

    .icon{
        display: none;
    }

    .nav-bar{
        flex-direction: row;
        transform: translateY(0);
        background: none;
        position: absolute;
        top: -8px;
        margin-left: 150px;
        width: 83%;
    }

    .list{
        display: flex;
        margin-left: 20px;
    }

    .user-container{
        position: relative;
        right: 150px;
        flex-direction: row;
    }

     .link-log:nth-child(2){
        color: hsl(356, 100%, 66%);
        background: none;
        background-color: white;
        width: 70px;
    }

    .item-list{
        margin-left: 20px;
        margin-right: 20px;
        color: white;
        font-size: 1.2rem;
    }

    .sub-item{
        width: 150px;
    }

    .arrow{
        margin-left: 10px;
        cursor: pointer;
    }

    .color{
        display: none;
    }

    .intro{
        max-width: 80%;
    }

    .title{
        font-size: 3.5rem;
    }

    .links{
        justify-content: center;
    }

    .link{
        margin-left: 10px;
        margin-right: 10px;
    }

    .img-illustration{
        display: none;
    }

    .img-illustration-desk{
        display: block;
        width: 100%;
        max-width: 800px;
    }

    .section-container{
        display: flex;
        flex-direction: column;
    }

    .img-container{
        width: 55%;
    }

    .flex-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        width: 100%;
    }

    .article-container{
       display: flex;
       flex-direction: column;
       width: 100%;
    }

    .section-infrastructure{
        width: 100%;
    }
}