.section-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    background-color: yellow;
    margin-left: auto;
    margin-right: auto;
}

.title{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
}

.mes-container h2,
.dia h2,
.asignado h2{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rebeccapurple;
    height: 65px;
    margin: 0;
}

.mes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.julio{
    background-color: rgb(49, 0, 83);
    height: 190px;
    color: rgb(189, 161, 216);
}

.agosto{
    background-color: rgb(129, 214, 0);
    height: 170px;
    color: rgb(74, 122, 1);
}

.septiembre{
    background-color: rgb(231, 104, 104);
    height: 190px;
    color: rgb(255, 47, 47);
}

.dia div{
    line-height: 20px;
}

.dia h2{
    text-align: center;
}

.mes-julio{
    background-color: indigo;
    border-bottom: 1px solid rgb(40, 0, 68);
    border-right: 1px solid rgb(40, 0, 68);
    color: rgb(189, 161, 216);
    text-align: center;
}

.mes-agosto{
    color: rgb(74, 122, 1);
    background-color: greenyellow;
    border-bottom: 1px solid rgb(51, 85, 0);
    border-right: 1px solid rgb(51, 85, 0);
    text-align: center;
}

.mes-septiembre{
    color: rgb(255, 47, 47);
    background-color: lightcoral;
    border-bottom: 1px solid rgb(180, 16, 16);
    border-right: 1px solid rgb(180, 16, 16);
    text-align: center;
}

.asignado div{
    line-height: 20px;
}

.asignado h2{
    text-align: center;
    text-transform: uppercase;
}